/*general*/
*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    border: none;
}
*:focus{
    border: none;
    outline: none;
}
body{
     font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    height : 100%;
    font-size: 16px;
    color: #404040;
}
h1{
    font-size: 2.5rem;
    padding: 1.5rem;
    font-weight: 500;
}
p{
    font-size: 1.5rem;
    padding: 1.5rem;
}
input{
    margin: 0.4rem;
}
.container{
width: 100%;
min-width: 700px;
display: flex;
flex-direction: column;
align-items: center;

}
.section{
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}
button{
    background: #ed6155;
    cursor: pointer;
    border-radius: .33rem;
    font-size: 2rem;
    padding: 1rem 2.5rem;
    color: #f8f8f8;
    margin: 1rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}
button:active, .section-1 li:active{
    transform: translateY(2px);
    box-shadow: 2px 0 2px 1px rgba(0,0,0,0.3);
    background: #e93e2f;
}

/*navigation*/
.navbar{
    width: 100%;
    display: flex;
    justify-content: center;
}
.navbar-container{
    width: 90%;
    background: #f8f8f8;
    display: flex;
    text-align: center;
}
.navbar-item{
    flex: 1;
    width: 33.33%;
    min-width: 200px;
    font-size: 2rem;
    padding: .8rem;
    border: 1px solid #e7e7e7;
}
.navbar-item:first-child, .navbar-item:nth-child(2){
    border-right: solid 1px #e7e7e7;

}
.navbar-item:first-child{
    border-top-left-radius: .33rem;
    border-bottom-left-radius: .33rem;
}
.navbar-item:last-child{
    border-top-right-radius: .33rem;
    border-bottom-right-radius: .33rem;
}
.navbar-item.active{
    background: #ed6155;
    color: #f8f8f8;
}
/*section 1*/
.section-1-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.section-1-container div{
    width: 60%;
    text-align: center;
    border-bottom: 1px solid #ed6155;
    padding: 2rem;
}
.section-1-container div:last-child{
    border: none;
}
.section-1-list > ul{
    display: flex;
    justify-content: center;
}
.section-1 li{
    background: #ed6155;
    cursor: pointer;
    border-radius: .33rem;
    font-size: 1rem;
    padding: .7rem 1rem;
    color: #f8f8f8;
    margin: .5rem;
    box-shadow: 2px 2px 2px 1px rgba(0,0,0,0.3);
}


/*section 2*/

button#prev-1{
    width: 178px;
}
.section-2-container{
    width: 100%;
}
.section-2-container div{
    text-align: center;
    border-bottom: 1px solid #ed6155;
    padding: 2rem;

}
.section-2-container div:last-child, .panel > form > div{
    border: none;
}

.section-2-header{
    padding: 2rem;
}

.section-2-container form > div > div{
    width: 19%;
    min-width: 232px;
    padding: 1rem;
    margin: .5rem;
    border: none;
    text-align: left;

}
.section-2>.panel{
    width: 100%;
}
.section-2 form>div{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.section-2 button{
    margin-top: 1rem;
}

/*section 3*/
/*alert*/

.alert{
    position: absolute;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    min-width: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0,0,0);
}
.alert-container{
    width: 40%;
    height: 600px;
    background: #ed6155;
    border-radius: .33rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    box-shadow: 3px 3px 5px 2px rgba(0,0,0,.4);
    text-align: center;
    color: #e7e7e7;
    padding: 0;
    overflow: hidden;
}
.alert-container>div, .alert-container>button{
    margin: 4rem 1rem;
}
.alert button{
    padding: 1rem;
    width: 200px;
    font-size: 2rem;
     background: #737373;

}
/*hide*/

.hide{
    display: none;
}